<mat-toolbar>
    <div class="nav">
        <div>
            <p>Sachin M Mane</p>
        </div>
        <div class="nav-link-group fs-16 fw-400 opacity-80">
            <button mat-icon-button class="nav-link" aria-label="">
                About
            </button>
            <button mat-icon-button class="nav-link" aria-label="">
                Skills
            </button>
            <button mat-icon-button class="nav-link" aria-label="">
                Experience
            </button>
            <button mat-icon-button class="nav-link" aria-label="">
                Education
            </button>
            <button mat-icon-button class="nav-link" aria-label="">
                Portfoilo
            </button>
            <button mat-icon-button class="nav-link" aria-label="">
                References
            </button>
            <button mat-icon-button class="nav-link" aria-label="">
                Contact
            </button>
        </div>
    </div>
</mat-toolbar>
 